@{
    ViewData["Title"] = "Admin Main Page";
}

<h2>ADMIN MAIN PAGE</h2>

<h4>Hello </h4>

<div class="mt-4">
    <a class="btn btn-primary rounded-pill" asp-controller="JobOffers" asp-action="Index">All job offers</a>
    <a class="btn btn-primary rounded-pill" asp-controller="Admin" asp-action="GetUsers">Users</a>
</div>
