/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}



/*own css*/
.navbar-background {
    background: #E7717D !important;
}

.navbar-font-color {
    color: #393131 !important;
    border-color: #393131 !important;
}

.navbar-item-font-color {
    color: #e4e4e4 !important;
}

.navbar-border {
    border-color: rgba(137, 131, 131, 0.72) !important;
}

.navbar-border-hover {
    border-color: transparent !important;
}

    .navbar-border-hover:hover {
        border-color: #C2CAD0 !important;
    }

.navbar-signup:hover {
    color: #583514 !important;
    text-decoration: none !important;
    border-color: #583514 !important;
}

.signin-border {
    border-color: #7E685A !important;
}

.signin-button {
    background-color: #AFD275 !important;
    border-color: #AFD275 !important;
}

.signin-button:hover {
    background-color: #A0C669 !important;
    border-color: #A0C669 !important;
}

.signin-signup-button {
    background-color: #C2CAD0 !important;
    border-color: #C2CAD0 !important;
}

.signin-signup-button:hover {
    background-color: #B0B9BD !important;
    border-color: #B0B9BD !important;
}

.joboffer-style label {
    font-weight: bold;
}

.font-sans-pro {
    font-family: 'Source Sans Pro', sans-serif;
}

.deco-none {
    color: inherit;
    text-decoration: none;
}

.deco-none:link {
    color: inherit;
    text-decoration: none;
}

.deco-none:hover {
    color: inherit;
    text-decoration: none;
}

.deco-none: {
        color: inherit;
        text-decoration: none;
    }

.w-45 {
    width: 45% !important;
}

.w-90 {
    width: 90% !important;
}

.select-text-ellipsis {
    text-overflow: ellipsis;
    overflow: hidden;
}

.filters-button:active {
}
.filters-button:focus {
    box-shadow: none;
}

.table-sortable:hover {
    cursor: pointer;
}

.table-sortable-picked {
    color: #2470a9
}