@model HRWebApplication.Models.JobOfferCompanyModel

@{
    ViewData["Title"] = "Add new Job Offer";
}

<h4 class="mt-4 font-weight-bold">Add new Job Offer</h4>

<hr />
<div class="row">
    <div class="col-md-8 joboffer-style">
        <form>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="JobTitle" class="control-label">Job title:</label>
                <div class="input-group">
                    <input asp-for="JobTitle" class="form-control" id="JobTitleInput" placeholder="Programmer" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-pen"></i></span>
                    </div>
                </div>
                <span asp-validation-for="JobTitle" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="SalaryFrom" class="control-label">Salary From:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="salary1">PLN</span>
                    </div>
                    <input asp-for="SalaryFrom" class="form-control" id="SalaryFromInput" placeholder="From" />
                </div>
                <span asp-validation-for="SalaryFrom" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="SalaryTo" class="control-label">Salary To:</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="salary2">PLN</span>
                    </div>
                    <input asp-for="SalaryTo" class="form-control" id="SalaryToInput" placeholder="To" />
                </div>
                <span asp-validation-for="SalaryTo" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Location" class="control-label">Location:</label>
                <div class="input-group">
                    <input asp-for="Location" class="form-control" id="LocationInput" placeholder="Warsaw" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-map-marked-alt"></i></span>
                    </div>
                </div>
                <span asp-validation-for="Location" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Description" class="control-label" >Description:</label>
                <textarea asp-for="Description" class="form-control" rows="3" id="DescriptionInput" placeholder="Enter description"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ValidUntil" class="control-label">Offer expiration date:</label>
                <div class="input-group">
                    <input asp-for="ValidUntil" class="form-control" id="ValidUntilInput" />
                    <div class="input-group-append">
                        <span class="input-group-text"><i class="fas fa-calendar-day"></i></span>
                    </div>
                </div>
                <span asp-validation-for="ValidUntil" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="Company" class="control-label">Company Name:</label>
                @Html.DropDownListFor(m => m.CompanyId,
                    Model.CompaniesCollection.Select(c => new SelectListItem { Text = c.CompanyName, Value = c.CompanyId.ToString() }),
                    new { @class = "form-control", @id = "companyName" })
                <span asp-validation-for="CompanyId" class="text-danger"></span>
                <div class="mt-2">
                    <span>Could not find company?<a class="ml-3" asp-area="" asp-controller="Companies" asp-action="Create">Create new one.</a></span>
                </div>
            </div>
            <div class="mt-2">
                <label asp-for="Company.Description" class="control-label">Company Description:</label>
                <p>Nie umiem wyświetlić opisu- TODO</p>
            </div>
            <div class="form-group mt-3">
                <a asp-area="" asp-controller="HR" asp-action="YourJobOffers" class="btn rounded-pill btn-secondary mr-2">
                    <i class="fas fa-chevron-left pr-2"></i>
                    Cancel
                </a>
                <button type="button" class="btn rounded-pill btn-primary" onclick="SumbitForm()">
                    <i class="fas fa-check pr-2"></i>
                    Save
                </button>
                <div class="spinner-border text-warning d-none" id="spinner"></div>
            </div>
        </form>
        <div class="d-none" id="ErrorInfo">

        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    <script>
        function gettoken() {
            var token = '@Html.AntiForgeryToken()';
            token = $(token).val();
            return token;
        }

        function SumbitForm() {
            var url = getBaseUrl();
            url = url + 'Create';
            $('#spinner').removeClass('d-none');
            $.ajax({
                url: url,
                method: "post",
                dataType: "json",
                data: {
                    __RequestVerificationToken: gettoken(),
                    JobTitle: $("#JobTitleInput").val(),
                    SalaryFrom: $("#SalaryFromInput").val(),
                    SalaryTo: $("#SalaryToInput").val(),
                    Location: $("#LocationInput").val(),
                    Description: $("#DescriptionInput").val(),
                    ValidUntil: $("#ValidUntilInput").val(),
                    CompanyId: $("#companyName").val()
                }
            })
                .done(function () {
                    var new_url = '@Url.Action("YourJobOffers","HR")';
                    window.location.href = new_url;
                })
                .fail(function () {
                    $('#ErrorInfo').html('<p class="text-danger">There was an error submiting your form</p>');
                    $('#ErrorInfo').removeClass('d-none');
                })
                .always(function () {
                    $('#spinner').addClass('d-none');
                })
        }
    </script>
}
